{% extends "base.html" %}
{% block content %}
<section class="bg0 p-t-95 p-b-140">
    <div class="container">

        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                Search
            </h3>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form method="post" action="/search">
                    <div class="form-group">
                        <label for="usr">Enter Product:</label>
                        <input type="text" class="form-control" name="txt" id="data">
                    </div>
                    <input type="submit" class="btn btn-block btn-primary" name="search" value="search">
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
        {% if data %}
        <table id="homestay" class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>Product</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Cost</th>
                    <th>Action</th>
                </tr>

                {% for row in data %}
                <tr>

                    <!-- <td>{{row[0]}}</td> -->
                    <td><img src="{{row[3]}}" width="200px" height="100px"></td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[4]}}</td>
                    <td>
                        <form method="POST" action="{{url_for('product_details')}}">
                            <input type="hidden" id="id" name="id" value="{{ row[0] }}">
                            <input type="hidden" id="name" name="name" value="{{ row[1] }}">
                            <input type="hidden" id="desc" name="desc" value="{{ row[2] }}">
                            <input type="hidden" id="cost" name="cost" value="{{ row[4] }}">
                            <input type="hidden" id="im" name="im" value="{{ row[3] }}">
                            <input type="submit" value="View More">
                        </form>
                    </td>
                </tr>


                {% endfor %}

            </tbody>
        </table>
        {% else %}

            {% if message %}
            <h2 style="text-align: center;">{{ message }}</h2>
            {% endif %}

        {% endif %}
    </div>
</section>

{% endblock %}